@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

:root {
  /* --bg-color: rgba(247, 0, 0, 0.08); */
  --bg-color: rgba(232, 187, 76, 0.08);
  /* --text-color: rgba(247, 0, 0, 1); */
  --text-color: rgb(232, 187, 76);
  --text-color-body: rgba(119, 119, 119, 1);
  --text-color-body-plus: rgba(0, 198, 18, 1);
  --text-color-body-minus: rgba(247, 0, 0, 1);
  --text-color-body-pending: rgba(255, 163, 26, 1);
  --text-color-body-order: rgba(0, 161, 255, 1);
  --price-color: #4880ff;
  --bg-color-delivered: rgba(6, 231, 117, 0.08);
  --bg-color-pending: rgba(254, 152, 0, 0.2);
  --bg-color-cancelled: rgba(247, 0, 0, 0.05);
  --text-color-delivered: #06e775;
  --text-color-pending: #ffa31a;
  --text-color-cancelled: #f70000;
}
.ant-upload-wrapper .ant-upload,
.ant-upload.ant-upload-select {
  border-color: var(--text-color);
}

.ant-upload-wrapper .ant-upload:hover,
.ant-upload.ant-upload-select:hover {
  border-color: var(--text-color) !important;
}

.ant-upload-wrapper .ant-upload.ant-upload-select,
.ant-btn {
  color: var(--text-color);
  /* border-color: var(--text-color); */
  /* background-color: rgba(232, 187, 76, 0.08); */
}

.ant-upload-wrapper .ant-upload.ant-upload-select:hover,
.ant-btn:hover {
  border-color: var(--text-color) !important;
  color: var(--text-color) !important;
}

/* Change the radio button border and text color */
.ant-radio-wrapper .ant-radio-inner {
  border-color: var(--text-color) !important;
}

.ant-radio-wrapper .ant-radio-inner:checked {
  background-color: var(--text-color) !important;
  border-color: var(--text-color) !important;
}

.ant-radio-wrapper .ant-radio-inner:hover {
  border-color: var(--text-color) !important;
}

.ant-radio-wrapper .ant-radio + span {
  color: var(--text-color) !important;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: var(--text-color) !important;
  border-color: var(--text-color) !important;
}

.ant-select-selector {
  border-color: var(--text-color) !important;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:hover {
  border-color: var(--text-color) !important;
  box-shadow: 0 0 0 2px rgba(232, 187, 76, 0.2) !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color-cancelled);
}

::-webkit-scrollbar-thumb {
  background-color: #120d0014;
  border-radius: 10px;
}

.dashboard-table {
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 1400px) {
  .dashboard-table {
    width: 1065px;
    overflow: auto;
  }
}

@media screen and (max-width: 1330px) {
  .dashboard-table {
    width: 1000px;
    overflow: auto;
  }
}

@media screen and (max-width: 1280px) {
  .dashboard-table {
    width: 950px;
    overflow: auto;
  }
}

@media screen and (max-width: 1230px) {
  .dashboard-table {
    width: 860px;
    overflow: auto;
  }
}

@media screen and (max-width: 1145px) {
  .dashboard-table {
    width: 790px;
    overflow: auto;
  }
}

@media screen and (max-width: 1070px) {
  .dashboard-table {
    width: 730px;
    overflow: auto;
  }
}

@media screen and (max-width: 1010px) {
  .dashboard-table {
    width: 650px;
    overflow: auto;
  }
}

@media screen and (max-width: 930px) {
  .dashboard-table {
    width: 590px;
    overflow: auto;
  }
}

@media screen and (max-width: 870px) {
  .dashboard-table {
    width: 520px;
    overflow: auto;
  }
}

@media screen and (max-width: 805px) {
  .dashboard-table {
    width: 510px;
    overflow: auto;
  }
}

@media screen and (max-width: 773px) {
  .dashboard-table {
    width: 630px;
    overflow: auto;
  }
}

@media screen and (max-width: 603px) {
  .dashboard-table {
    width: 500px;
    overflow: auto;
  }
}

@media screen and (max-width: 540px) {
  .dashboard-table {
    width: 420px;
    overflow: auto;
  }
}

@media screen and (max-width: 465px) {
  .dashboard-table {
    width: 360px;
    overflow: auto;
  }
}

@media screen and (max-width: 415px) {
  .dashboard-table {
    width: 320px;
    overflow: auto;
  }
}

@media screen and (max-width: 355px) {
  .dashboard-table {
    width: 280px;
    overflow: auto;
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.faq-answer.expanded {
  max-height: 200px;
}

/* Add this to your existing styles */
.custom-input.ant-input,
.custom-input .ant-input,
.custom-input.ant-input-password {
  border-color: #d9d9d9 !important; /* Default Ant Design border color */
}

.custom-input.ant-input:hover,
.custom-input .ant-input:hover,
.custom-input.ant-input-password:hover,
.custom-input.ant-input:focus,
.custom-input .ant-input:focus,
.custom-input.ant-input-password:focus,
.custom-input.ant-input-focused,
.custom-input .ant-input-focused,
.custom-input.ant-input-password-focused {
  border-color: rgb(232, 187, 76) !important;
  box-shadow: 0 0 0 2px rgba(232, 187, 76, 0.2) !important;
}

.custom-input.ant-input-password .ant-input {
  border: none !important;
  box-shadow: none !important;
}
